# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
.gradle/
local.properties

# VSCode
.vscode/

# Python
venv/
__pycache__/
*.pyc

# Django
db.sqlite3
media/

# Environment
.env

# Mac/Linux
.DS_Store